body {
  margin: 0;
  font-family: Roboto, sans-serif;
}

.brand-logo .emph {
  font-weight: 700;
  opacity: 0.8;
}

.header-buttons {
  display: block;
  padding-top: 5px;
}

.login-form {
  padding: 0 10px;
  margin-top: -10px;
}

ul {
  font-size: 14px;
}